DATABASE_URL="postgresql://postgres:password@localhost:5432/buddyscript?schema=public"
JWT_SECRET="your-super-secret-jwt-key-change-this-in-production-min-32-chars"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
CLOUDINARY_API_KEY=732576189647843
CLOUDINARY_API_SECRET=6W7rL_Wl2DDTNUf8Q6eDaV41hzs
CLOUDINARY_CLOUD_NAME=dka0q8f82
